<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Contacto</title>

<style>

body{
background:#121212;
color:white;
font-family:Arial;
}

form{
width:400px;
margin:auto;
}

input,textarea{
width:100%;
padding:10px;
margin-bottom:10px;
}

button{
background:#333;
color:white;
border:none;
padding:10px;
}

</style>

</head>

<body>

<h1 align="center">Contacto</h1>

<form>

<label>Nombre</label>
<input type="text">

<label>Correo</label>
<input type="email">

<label>Mensaje</label>
<textarea rows="5"></textarea>

<button type="submit">Enviar</button>

</form>

</body>
</html>
